{% extends 'base.html.twig' %}

{% block title %}{{'Apartments'|trans}} Marzena | {{'Gallery'|trans}}{% endblock %}

{% block body %}

    {# <button type="button" class="btn shadow z-3" id="btn-back-to-hp"  style="position:absolute;top:80px">
        <a href="{{ path('app_homepage')}}"><i style="color: black !important;" class="bi bi-arrow-left h2"></i></a>
    </button> #}

    <button type="button" class="btn shadow z-3" id="btn-back-to-top">
        <i style="color: black !important;" class="bi bi-arrow-up h2"></i>
    </button>

    <header>
        <nav id="navbar" class="navbar fixed-top navbar-expand-lg bg-transparent p-0" style="height:68px">
            <div class="nawigacja container-fluid d-flex flex-row p-0 shadow">
            
                    <div class="navbar-brand d-flex align-items-center z-1">
                    <a id="logo-button" href="{{ path('app_homepage')}}" style="display: contents;">
                    <img src="{{ asset ('images/logo_marzena.png')}}" width="60" height="60" alt="Logo" title="{{'Apartments'|trans}} Marzena" class="d-inline-block align-text-top ms-1 me-1">
                        <span style="color:black">{{'Apartments'|trans}} Marzena</span>
                    </a>
                    </div>
                    
                    <div class="d-flex justify-content-end">
                        <div id="nav-icon3" class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                
                <div class="collapse navbar-collapse flex-grow-1 text-center" id="navbarNav">
                    <ul class="navbar-nav ms-auto flex-nowrap">
                        {# <li class="nav-item">
                            <a href="#" class="nav-link"><i class="bi bi-house-door"></i></a>
                        </li> #}
                        <li id="start-up" class="nav-item">
                            <a href="{{ path('app_homepage', {_locale:app.request.locale}) }}#start" title="{{'Home'|trans}}" class="nav-link">{{'Home'|trans}}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_homepage', {_locale:app.request.locale}) }}#oferta" target="_top" title="{{'Apartments'|trans}}" class="nav-link">{{'Apartments'|trans}}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_homepage', {_locale:app.request.locale}) }}#galeria" target="_top" title="{{'Gallery'|trans}}" class="nav-link">{{'Gallery'|trans}}</a>
                        </li>
                        {# <li class="nav-item">
                            <a href="#cennik" title="Cennik" class="nav-link">Cennik</a>
                        </li>
                        <li class="nav-item">
                            <a href="#rejestracja" title="Rejestracja" class="nav-link">Rejestracja</a>
                        </li> #}
                        <li class="nav-item">
                            <a href="{{ path('app_homepage', {_locale:app.request.locale}) }}#kontakt" title="{{'Contact'|trans}}" class="nav-link">{{'Contact'|trans}}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link-lang dropdown-toggle" href="" id="dropdown-language" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img width="20px" style="padding-bottom:3px" src="https://flagcdn.com/{{app.request.locale == 'en' ? 'gb' : app.request.locale}}.svg"></img>
                                {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                            </a>
                            <ul id="lang-dropdown" class="dropdown-menu border-0" aria-labelledby="dropdown-language">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_gallery', {_locale: 'en'}) }}">
                                    <img width="20px" style="padding-bottom:3px" src="https://flagcdn.com/gb.svg"></img> English
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('app_gallery', {_locale: 'it'}) }}">
                                    <img width="20px" style="padding-bottom:3px" src="https://flagcdn.com/it.svg"></img> Italiano
                                    </a>
                                </li>
                                <li><a class="dropdown-item" href="{{ path('app_gallery', {_locale: 'pl'}) }}">
                                    <img width="20px" style="padding-bottom:3px" src="https://flagcdn.com/pl.svg"></img> Polski
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

            <div id="galeria" class="container-fluid d-flex flex-column align-items-center">
                <h2 data-aos="zoom-in" class="section-title caveat-brush-regular text-center display-2 pb-5">{{'Gallery'|trans}}</h2>    
                <div class="container d-flex flex-column">
                    
                    <div class="row d-flex flex-wrap align-items-center" data-bs-toggle="modal" data-bs-target="#lightbox">
                            <div class="col-12 col-md-6 col-lg-3">
                                <img data-aos="zoom-in" data-aos-delay="50" src="https://source.unsplash.com/random/200" data-bs-target="#indicators" data-bs-slide-to="0" alt="" /> 
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <img data-aos="zoom-in" data-aos-delay="250" src="https://source.unsplash.com/random/201" data-bs-target="#indicators" data-bs-slide-to="1" alt="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <img data-aos="zoom-in" data-aos-delay="450" src="https://source.unsplash.com/random/202" data-bs-target="#indicators" data-bs-slide-to="2"  alt="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <img data-aos="zoom-in" data-aos-delay="650" src="https://source.unsplash.com/random/203" data-bs-target="#indicators" data-bs-slide-to="3" alt="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <img data-aos="zoom-in" data-aos-delay="850" src="https://source.unsplash.com/random/204" data-bs-target="#indicators" data-bs-slide-to="4"  alt="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <img data-aos="zoom-in" data-aos-delay="1050" src="https://source.unsplash.com/random/205" data-bs-target="#indicators" data-bs-slide-to="5" alt="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <img data-aos="zoom-in" data-aos-delay="1250" src="https://source.unsplash.com/random/206" data-bs-target="#indicators" data-bs-slide-to="6" alt="" />
                            </div>
                            <div class="col-12 col-md-6 col-lg-3">
                                <img data-aos="zoom-in" data-aos-delay="1450" src="https://source.unsplash.com/random/207" data-bs-target="#indicators" data-bs-slide-to="7" alt="" />
                            </div>
                        </div>

                            <!-- Modal -->
                            <div class="modal fade" id="lightbox" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <button type="button" class="close text-right p-2" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div id="indicators" class="carousel slide" data-interval="false">
                                        {# <ol class="carousel-indicators">
                                            <li data-bs-target="#indicators" data-bs-slide-to="0" class="active"></li>
                                            <li data-bs-target="#indicators" data-bs-slide-to="1"></li>
                                            <li data-bs-target="#indicators" data-bs-slide-to="2"></li>
                                            <li data-bs-target="#indicators" data-bs-slide-to="3"></li>
                                            <li data-bs-target="#indicators" data-bs-slide-to="4"></li>
                                            <li data-bs-target="#indicators" data-bs-slide-to="5"></li>
                                        </ol> #}
                                        <div class="carousel-inner">

                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="https://source.unsplash.com/random/200" alt="First slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="https://source.unsplash.com/random/201" alt="Second slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="https://source.unsplash.com/random/202" alt="Third slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="https://source.unsplash.com/random/203" alt="Fourth slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="https://source.unsplash.com/random/204" alt="Fifth slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="https://source.unsplash.com/random/205" alt="Sixth slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="https://source.unsplash.com/random/206" alt="Seventh slide">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="https://source.unsplash.com/random/207" alt="Eigth slide">
                                            </div>
                                        </div>

                                    <a class="carousel-control-prev" href="#indicators" role="button" data-bs-slide="prev" data-bs-keyboard="true">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    {# <span class="sr-only">Previous</span> #}
                                    </a>

                                    <a class="carousel-control-next" href="#indicators" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    {# <span class="sr-only">Next</span> #}
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
