{% extends 'base_dno.html.twig' %}

{% block title %}JogawMarkach.pl | Warsztat Dno Miednicy
{% endblock %}

{% block body %}
	<div class="container-fluid p-0">

		<div class="col-12 header d-flex flex-column justify-content-center align-items-center py-5">
			<h1 class="display-1 text-center pb-3">
				<strong>{{ 'WARSZTAT\nISTOTA KOBIECOŚCI'|nl2br }}</strong>
			</h1>
			<h2 class="display-4 text-center">Dno miednicy, czyli centrum mocy każdej kobiety</h2>
		</div>

		<div class="row col-12 col-md-8 justify-content-center mx-auto">
			<div class="d-flex align-items-center flex-wrap p-0">
				<div class="col-12 col-md-6 py-md-5 text-center">
					<img src="{{ asset('images_dno/miednica_slonecznik.jpg') }}" width="500" class="img-fluid p-0 px-md-5">
				</div>
				<div class="col-12 col-md-6 py-5 px-2 px-md-0 order">
					<h3 class="pb-3 text-center">
						<strong>Dlaczego tego potrzebujesz</strong>
					</h3>
					<p class="lead">
						Sprawne dno miednicy to sekret kobiecej siły - powinno znajdować się w równowadze pomiędzy napięciem i rozluźnieniem.
					</p>
					<p class="lead">
						Odzyskasz kontrolę nad swoim ciałem oraz seksualnością, a Twój komfort życia znacznie wzrośnie.
					</p>
				</div>
			</div>

			<hr class="foto w-75 mx-auto">

			<div class="d-flex align-items-center flex-wrap p-0">
				<div class="col-12 col-md-6 py-md-5 text-center order-md-2">
					<img src="{{ asset('images_dno/dla_kogo.jpg') }}" width="500" class="img-fluid p-0 px-md-5">
				</div>
				<div class="col-12 col-md-6 py-5 px-2 px-md-0">
					<h3 class="pb-3 text-center">
						<strong>Dla kogo ten warsztat</strong>
					</h3>
					<ul class="lead">
						<li>Jeżeli prowadzisz aktywny tryb życia lub niewiele się ruszasz</li>
						<li>Zależy Ci na profilaktyce uroginekologicznej</li>
						<li>Chcesz zbudować świadomość intymnych części ciała</li>
						<li>Masz problemy z wysiłkowym nietrzymaniem moczu, obniżeniem narządów, bólem w sytuacjach intymnych
						</li>
					</ul>
				</div>
			</div>

			<hr class="foto w-75 mx-auto">

			<div class="d-flex align-items-center flex-wrap p-0">
				<div class="col-12 col-md-6 py-md-5 text-center">
					<img src="{{ asset('images_dno/czego_sie_dowiesz.jpg') }}" width="500" class="img-fluid p-0 px-md-5">
				</div>
				<div class="col-12 col-md-6 py-5 px-2 px-md-0 order">
					<h3 class="pb-3 text-center">
						<strong>Czego się dowiesz</strong>
					</h3>
					<ul class="lead">
						<li>Zwiększysz świadomość na temat mięśni dna miednicy</li>
						<li>Nauczysz się je prawidłowo aktywować, rozluźniać i wzmacniać</li>
						<li>Nauczysz się zapobiegać dolegliwościom związanych z funkcjonowaniem dna miednicy</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="col-12 header program d-flex flex-column justify-content-center align-items-center py-5">
			<h2 class="display-4 text-center">
				<strong>PROGRAM</strong>
			</h2>
		</div>

		<div class="row justify-content-center px-2">
			<div class="col-12 col-md-6 py-5">
				<h3 class="pt-3 pb-2 text-center">CZĘŚĆ I (12.00 - 13.30)</h3>
				<h4 class="pb-3 text-center">mgr Edyta Bukowiec</h4>
				<ul class="lead">
					<li>Wprowadzenie teoretyczne</li>
					<li>Samodiagnostyka - sesja praktyczna</li>
					<li>Techniki oddechowe - oddech w pracy z mięśniami dna miednicy - sesja praktyczna</li>
					<li>Nawyki toaletowe - fakty i mity</li>
				</ul>
			</div>

			<hr class="w-75 mx-auto">

			<div class="col-12 col-md-6 py-5">
				<h3 class="pt-3 pb-2 text-center">CZĘŚĆ II (13.40 - 15.10)</h3>
				<h4 class="pb-3 text-center">Katarzyna Latek</h4>
				<ul class="lead">
					<li>Wprowadzenie - emocje uwięzione w miednicy</li>
					<li>Joga rozluźniająca dno miednicy - sesja praktyczna</li>
					<li>Pilates dla mięśni głębokich - sesja praktyczna</li>
				</ul>
			</div>

			<hr class="w-75 mx-auto">

			<div class="col-12 col-md-6 py-5">
				<h3 class="pt-3 pb-2 text-center">CZĘŚĆ III (15.30 - 17.00)</h3>
				<h4 class="pb-3 text-center">Agnieszka Maciejewska</h4>
				<ul class="lead">
					<li>Część teoretyczna - czym są zmarszczki i co ma wpływ na ich powstawanie</li>
					<li>Joga twarzy - ćwiczenia rozluźniające</li>
					<li>Nauka technik drenażu i automasażu rozluźniającego</li>
					<li>Nauka tapingu estetycznego twarzy</li>
				</ul>
			</div>
		</div>

		<div class="col-12 header program d-flex flex-column justify-content-center align-items-center py-5">
			<h2 class="display-4 text-center">
				<strong>KIEDY, GDZIE, ZA ILE</strong>
			</h2>
		</div>

		<div class="row justify-content-center">
			<div class="col-12 col-md-6 py-5 px-2">
				<div class="d-flex flex-column flex-wrap flex-md-nowrap align-items-center justify-content-center">
					<i class="h1 bi bi-calendar3"></i>
					<h3 class="pt-1 pb-5 text-center">{{ '9 marca 2025 roku\ngodz. 12.00-17.00'|nl2br }}</h3>
					<i class="h1 bi bi-geo-alt-fill"></i>
					<h3 class="pt-1 pb-5 text-center">{{ 'Studio JogawMarkach.pl\nul. Legionowa 1, 05-270 Marki'|nl2br }}</h3>
					<i class="h1 bi bi-cash"></i>
					<h3 class="pt-1 pb-5 text-center">Cena: 250 zł</h3>
					<div class="d-flex flex-column align-items-center justify-content-center">
						<i class="h1 bi bi-cart3"></i>
						<h3 class="pt-1 pb-4 text-center">Udział można opłacić </h3>
						<div class="arrow">
							<span></span>
							<span></span>
							<span></span>
						</div>
						<h3 class="pt-5 pb-5 text-center">
							<a class="link-sklep" href="https://app.fitssey.com/jogawmarkach/frontoffice/courses/A6F4B352-1AC1-4F92-A0E4-9EE53722FFEF/overview">TUTAJ</a>
						</h3>
					</div>
					<i class="h1 bi bi-people-fill"></i>
					<h3 class="pt-1 pb-5 text-center">LICZBA MIEJSC OGRANICZONA!</h3>
				</div>
			</div>
		</div>

		<div class="col-12 header program d-flex flex-column justify-content-center align-items-center py-5">
			<h2 class="display-4 text-center">
				<strong>ORGANIZATORZY</strong>
			</h2>
		</div>

		<div class="row justify-content-center">
			<div class="col-12 col-md-6 py-5 px-2">
				<div class="d-flex flex-row flex-wrap flex-md-nowrap align-items-center justify-content-center">
					<a href="https://jogawmarkach.pl/">
						<div class="d-flex flex-column">
							<img class="logo-round mx-auto" src="{{ asset('images_dno/LOGO_JogawMarkach.png')}}">
							<img class="logo px-2" src="{{ asset('images_dno/LOGO_Baner_JogawMarkach_1600x400.png')}}">
						</div>
					</a>
					<a href="https://gabinetysaturna.pl/"><img class="logo px-2" src="{{ asset('images_dno/gabintysaturna_logo.png')}}"></a>
				</div>
			</div>
		</div>

		<div class="header col-12 d-flex flex-column justify-content-center align-items-center py-5">
			<h2 class="display-4 text-center pb-3">
				<strong>DODATKOWE INFORMACJE</strong>
			</h2>
			<div class="d-flex flex-wrap justify-content-center align-items-center">
				<p class="lead text-center pb-3 px-5">606 671 190</br>
					<a class="link" href="mailto:kontakt@jogawmarkach.pl">kontakt@jogawmarkach.pl</a>
				</p>
				<p class="lead text-center pb-3 px-5">571 993 450</br>
					<a class="link" href="mailto:gabinetysaturna@gmail.com">gabinetysaturna@gmail.com</a>
				</p>
			</div>
		</div>

	</div>
{% endblock %}
{% block footer %}
	    <div class="footer text-center">
            <span><small>© 2025 Copyrights, projekt i wykonanie: BenMedia&nbspBernard&nbspWaszczyk.</small></span>
        </div>
{% endblock %}